config HISI_COUL
        bool "hisi coul"
        default n
config HISI_COUL_HI6555V200
        bool "hisi hi6555v200 coul"
        default n
config HISI_COUL_TEST
        bool "hisi coul test"
        default n
